* {
  box-sizing: border-box;
}

.jumbotron {
  border-radius: 0px 0px 15px 15px;
  padding: 2em;
}

h1 {
  font-family: Trebuchet MS;
}

body {
  background-color: rgb(236, 239, 244);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-header {
  background: none;
}

.card {
  background: rgb(236, 239, 244);
  border-color: rgb(236, 239, 244);
  border-radius: 30px;
  border-width: 0px;
  box-shadow: -15px -15px 20px white, 15px 15px 20px rgb(151, 167, 195, 0.5);
}

.carousel-header {
  margin-bottom: -1rem;
}


.carousel {
  overflow-x: scroll;
  display: flex;
  padding-bottom: 3rem;
  padding-top: 2rem;
  padding-left: 1rem;
  /* hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  /* hide scrollbar */
  display: none;
}

.carousel-element {
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  min-width: 18rem;
  padding: 1rem;
  transition: 0.2s cubic-bezier(0.47, 0.18, 0.25, 0.99);
  transition-delay: 50ms;
  box-shadow: 0.5rem 1rem 2rem rgb(151, 167, 195, 0.5);
}

.list-group-item {
  background: none;
}

.carousel-element:not(:first-child) {
  margin-left: -100px;
  box-shadow: 0.5rem 1rem 2rem rgb(151, 167, 195, 0.5);
}

.carousel-element:hover {
  transform: translateY(-1rem);
}

.carousel-element:hover ~ .card {
  transform: translateX(100px);
}

.card-table {
  display: flex;
  flex-direction: column;
}

/* div {
  padding: 5px 5px;
  border: 1px solid !important;
  border-color: cyan !important;
} */
